{% extends "base.tmpl" %}

{% block content %}
    {% if (user is not empty) and (user.error is empty) %}
        <section class='container product-img flex-center'>
            {% if imgs is empty %}
                <article>
                    <img src="{{ IMG_NOT_FOUND }}" alt='Featured item'>
                </article>
            {% else %}
                {% for img in imgs %}
                    <article class="item">
                        <div class="wrapper-img">
                            <img src="{{ img.name }}" alt="Item">
                        </div>
                        <form action="" method="POST">
                            <button type="submit" class="item-add-basket delete-item" value="{{ img.id_image }}"
                                    name="delete_img_profile">
                                <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                            </button>
                            <button type="submit" class="item-add-basket" value="{{ img.id_image }}"
                                    name="set_main_img_profile">
                                <i class="fa fa-check" aria-hidden="true"></i> <span>Make the main</span>
                            </button>
                        </form>
                    </article>
                {% endfor %}
            {% endif %}
        </section>

        <section class="container product-desc">
            <div>
                <h3>ID: <span>{{ user.id_user }}</span></h3>
                <h3>Name: <span>{{ user.name }}</span></h3>
                <h3>Login: <span>{{ user.login }}</span></h3>
                <h3>Date of last authorization: <span>{{ user.last_action }}</span></h3>
                <h3>Date of last password change: <span>{{ user.modified_passwd }}</span></h3>
                <h3>Profile created: <span>{{ user.created }}</span></h3>
            </div>
        </section>

        {% include "profile/updateProfile.tmpl" %}

    {% else %}
        <section class="container error">
            <h3 class='flex-center'>{{ user.error }}</h3>
        </section>
    {% endif %}
{% endblock %}