{% extends "base.tmpl" %}

{% block content %}
    {% if (user is not empty) and (user.error is empty) %}
        <section class='wrapper product-img flex-center'>
            {% if imgs is empty %}
                <article>
                    <img src='images/not_image_profile.png' alt='Featured item'>
                </article>
            {% else %}
                {% for img in imgs %}
                    <article>
                        <img src="{{ UPLOAD_DIR~img.name }}" alt="Item">
                        <form action="" method="POST">
                            <button type="submit" class="delete-btn" value="{{ img.id_image }}"
                                    name="delete_img_profile">Удалить
                            </button>
                            <button type="submit" class="delete-btn" value="{{ img.id_image }}"
                                    name="set_main_img_profile">Сделать основной
                            </button>
                        </form>
                    </article>
                {% endfor %}
            {% endif %}
        </section>

        <section class="wrapper product-desc">
            <div>
                <h3>ID: <span>{{ user.id_user }}</span></h3>
                <h3>Имя: <span>{{ user.name }}</span></h3>
                <h3>Login: <span>{{ user.login }}</span></h3>
                <h3>Дата последней авторизации: <span>{{ user.last_action }}</span></h3>
                <h3>Дата последней смены пароля: <span>{{ user.modified_passwd }}</span></h3>
                <h3>Профиль создан: <span>{{ user.created }}</span></h3>
            </div>
        </section>

        {% include "profile/update_profile.tmpl" %}

    {% else %}
        <section class="wrapper error">
            <h3 class='flex-center'>{{ user.error }}</h3>
        </section>
    {% endif %}
{% endblock %}