{% block content %}
    {% if (comments.error is empty) and (goods is not empty) and (goods.error is empty) %}
        <section class="comments container">
            <form action="" method="POST">
                {% if user is empty %}
                    <input type="text" name="author" class="input" placeholder="Name" required>
                {% endif %}
                <textarea name="comment" cols="30" rows="10" class="textarea" placeholder="Your comment"
                          required></textarea>
                <input type="submit" name="add_comment" class="btn" value="Add">
            </form>
            {% for comment in comments %}
                <article class="comment">
                    <pre class="comment_text"><span
                                class="comment_author">{{ comment.author }}</span>: {{ comment.text }}</pre>
                    {% if user.id_access == 1 %}
                        <form action="" method="POST">
                            <button type="submit" name="delete_comment" class="delete-btn"
                                    value={{ comment.id_comment }}> Delete
                            </button>
                        </form>
                    {% endif %}
                </article>
            {% endfor %}
        </section>
    {% else %}
        <section class="container error">
            <h3 class='flex-center'>{{ comments.error }}</h3>
        </section>
    {% endif %}
{% endblock %}