{% block errors %}
    {% if errors is not empty %}
        <section class="container error">
            {% for error in errors %}
                <h3 class='flex-center'>{{ error }}</h3>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
