{% block featured %}
    <section class="featured-product">
        <div class="container featured-product-content">
            <div class="featured-product-content-item">
                <img src="/images/Forma_3.png" alt="car">
                <h3>Free Delivery</h3>
                <p>Worldwide delivery on all. Authority tive morph next-generation innovation with extensive models.
                </p>
            </div>
            <div class="featured-product-content-item">
                <img src="/images/Forma_4.png" alt="percent">
                <h3>Sales & discounts</h3>
                <p>Worldwide delivery on all. Authority tive morph next-generation innovation with extensive models.
                </p>
            </div>
            <div class="featured-product-content-item">
                <img src="/images/Forma_5.png" alt="crown">
                <h3>Quality assurance</h3>
                <p>Worldwide delivery on all. Authority tive morph next-generation innovation with extensive models.
                </p>
            </div>
        </div>
    </section>
{% endblock %}