{% block nav %}
    <nav class="container nav">
        <ul>
            <li><a href="/" class="active-page">Home</a></li>
            <li><a href="/men">MEN</a>
                <section class="nav-hover men">
                    <div class="nav-hover-triangle"></div>
                    <div class="nav-hover-content">
                        <ul>
                            <li class="nav-hover-header"><a href="/men">MEN</a></li>
                            <li><a href="/men">Dresses</a></li>
                            <li><a href="/men">Tops</a></li>
                            <li><a href="/men">Sweaters/Knits</a></li>
                            <li><a href="/men">Jackets/Coats</a></li>
                            <li><a href="/men">Blazers</a></li>
                            <li><a href="/men">Denim</a></li>
                            <li><a href="/men">Leggings/Pants</a></li>
                            <li><a href="/men">Skirts/Shorts</a></li>
                            <li><a href="/men">Accessories</a></li>
                            <li><a href="/men">Bags/Purses</a></li>
                            <li><a href="/men">Swimwear/Underwear</a></li>
                            <li><a href="/men">Nightwear</a></li>
                            <li><a href="/men">Shoes</a></li>
                            <li><a href="/men">Beauty</a></li>
                        </ul>
                        <section>
                            <ul>
                                <li class="nav-hover-header"><a href="/men">MEN</a></li>
                                <li><a href="/men">Dresses</a></li>
                                <li><a href="/men">Tops</a></li>
                                <li><a href="/men">Sweaters/Knits</a></li>
                                <li><a href="/men">Jackets/Coats</a></li>
                                <li><a href="/men">Blazers</a></li>
                                <li><a href="/men">Denim</a></li>
                                <li><a href="/men">Leggings/Pants</a></li>
                            </ul>
                            <ul>
                                <li class="nav-hover-header"><a href="/men">MEN</a></li>
                                <li><a href="/men">Dresses</a></li>
                                <li><a href="/men">Tops</a></li>
                                <li><a href="/men">Sweaters/Knits</a></li>
                                <li><a href="/men">Jackets/Coats</a></li>
                                <li><a href="/men">Blazers</a></li>
                                <li><a href="/men">Denim</a></li>
                            </ul>
                        </section>
                        <section class="nav-hover-last-div">
                            <ul>
                                <li class="nav-hover-header"><a href="/men">MEN</a></li>
                                <li><a href="/men">Dresses</a></li>
                                <li><a href="/men">Tops</a></li>
                                <li><a href="/men">Sweaters/Knits</a></li>
                                <li><a href="/men">Jackets/Coats</a></li>
                                <li><a href="/men">Bags/Purses</a></li>
                                <li><a href="/men">Swimwear/Underwear</a></li>
                                <li><a href="/men">Nightwear</a></li>
                                <li><a href="/men">Shoes</a></li>
                                <li><a href="/men">Beauty</a></li>
                            </ul>
                            <img src="images/Layer 42.png" alt="photo">
                        </section>
                    </div>
                </section>
            </li>
            <li><a href="/women">WOMEN</a>
                <section class="nav-hover women">
                    <div class="nav-hover-triangle"></div>
                    <div class="nav-hover-content">
                        <ul>
                            <li class="nav-hover-header"><a href="/women">WOMEN</a></li>
                            <li><a href="/women">Dresses</a></li>
                            <li><a href="/women">Tops</a></li>
                            <li><a href="/women">Sweaters/Knits</a></li>
                            <li><a href="/women">Jackets/Coats</a></li>
                            <li><a href="/women">Blazers</a></li>
                            <li><a href="/women">Denim</a></li>
                            <li><a href="/women">Leggings/Pants</a></li>
                            <li><a href="/women">Skirts/Shorts</a></li>
                            <li><a href="/women">Accessories</a></li>
                            <li><a href="/women">Bags/Purses</a></li>
                            <li><a href="/women">Swimwear/Underwear</a></li>
                            <li><a href="/women">Nightwear</a></li>
                            <li><a href="/women">Shoes</a></li>
                            <li><a href="/women">Beauty</a></li>
                        </ul>
                        <section>
                            <ul>
                                <li class="nav-hover-header"><a href="/women">WOMEN</a></li>
                                <li><a href="/women">Dresses</a></li>
                                <li><a href="/women">Tops</a></li>
                                <li><a href="/women">Sweaters/Knits</a></li>
                                <li><a href="/women">Jackets/Coats</a></li>
                                <li><a href="/women">Blazers</a></li>
                                <li><a href="/women">Denim</a></li>
                                <li><a href="/women">Leggings/Pants</a></li>
                            </ul>
                            <ul>
                                <li class="nav-hover-header"><a href="/women">WOMEN</a></li>
                                <li><a href="/women">Dresses</a></li>
                                <li><a href="/women">Tops</a></li>
                                <li><a href="/women">Sweaters/Knits</a></li>
                                <li><a href="/women">Jackets/Coats</a></li>
                                <li><a href="/women">Blazers</a></li>
                                <li><a href="/women">Denim</a></li>
                            </ul>
                        </section>
                        <section class="nav-hover-last-div">
                            <ul>
                                <li class="nav-hover-header"><a href="/women">WOMEN</a></li>
                                <li><a href="/women">Dresses</a></li>
                                <li><a href="/women">Tops</a></li>
                                <li><a href="/women">Sweaters/Knits</a></li>
                                <li><a href="/women">Jackets/Coats</a></li>
                                <li><a href="/women">Bags/Purses</a></li>
                                <li><a href="/women">Swimwear/Underwear</a></li>
                                <li><a href="/women">Nightwear</a></li>
                                <li><a href="/women">Shoes</a></li>
                                <li><a href="/women">Beauty</a></li>
                            </ul>
                            <img src="images/Layer 42.png" alt="photo">
                        </section>
                    </div>

                </section>
            </li>
            <li><a href="/kids">KIDS</a>
                <section class="nav-hover kids">
                    <div class="nav-hover-triangle"></div>
                    <div class="nav-hover-content">
                        <ul>
                            <li class="nav-hover-header"><a href="/kids">KIDS</a></li>
                            <li><a href="/kids">Dresses</a></li>
                            <li><a href="/kids">Tops</a></li>
                            <li><a href="/kids">Sweaters/Knits</a></li>
                            <li><a href="/kids">Jackets/Coats</a></li>
                            <li><a href="/kids">Blazers</a></li>
                            <li><a href="/kids">Denim</a></li>
                            <li><a href="/kids">Leggings/Pants</a></li>
                            <li><a href="/kids">Skirts/Shorts</a></li>
                            <li><a href="/kids">Accessories</a></li>
                            <li><a href="/kids">Bags/Purses</a></li>
                            <li><a href="/kids">Swimwear/Underwear</a></li>
                            <li><a href="/kids">Nightwear</a></li>
                            <li><a href="/kids">Shoes</a></li>
                            <li><a href="/kids">Beauty</a></li>
                        </ul>
                        <section>
                            <ul>
                                <li class="nav-hover-header"><a href="/kids">KIDS</a></li>
                                <li><a href="/kids">Dresses</a></li>
                                <li><a href="/kids">Tops</a></li>
                                <li><a href="/kids">Sweaters/Knits</a></li>
                                <li><a href="/kids">Jackets/Coats</a></li>
                                <li><a href="/kids">Blazers</a></li>
                                <li><a href="/kids">Denim</a></li>
                                <li><a href="/kids">Leggings/Pants</a></li>
                            </ul>
                            <ul>
                                <li class="nav-hover-header"><a href="/kids">KIDS</a></li>
                                <li><a href="/kids">Dresses</a></li>
                                <li><a href="/kids">Tops</a></li>
                                <li><a href="/kids">Sweaters/Knits</a></li>
                                <li><a href="/kids">Jackets/Coats</a></li>
                                <li><a href="/kids">Blazers</a></li>
                                <li><a href="/kids">Denim</a></li>
                            </ul>
                        </section>
                        <section class="nav-hover-last-div">
                            <ul>
                                <li class="nav-hover-header"><a href="/kids">KIDS</a></li>
                                <li><a href="/kids">Dresses</a></li>
                                <li><a href="/kids">Tops</a></li>
                                <li><a href="/kids">Sweaters/Knits</a></li>
                                <li><a href="/kids">Jackets/Coats</a></li>
                                <li><a href="/kids">Bags/Purses</a></li>
                                <li><a href="/kids">Swimwear/Underwear</a></li>
                                <li><a href="/kids">Nightwear</a></li>
                                <li><a href="/kids">Shoes</a></li>
                                <li><a href="/kids">Beauty</a></li>
                            </ul>
                            <img src="images/Layer 42.png" alt="photo">
                        </section>
                    </div>

                </section>
            </li>
            <li><a href="/accessories">ACCESSORIES</a>
                <section class="nav-hover accessories">
                    <div class="nav-hover-triangle"></div>
                    <div class="nav-hover-content">
                        <ul>
                            <li class="nav-hover-header"><a href="/accessories">ACCESSORIES</a></li>
                            <li><a href="/accessories">Dresses</a></li>
                            <li><a href="/accessories">Tops</a></li>
                            <li><a href="/accessories">Sweaters/Knits</a></li>
                            <li><a href="/accessories">Jackets/Coats</a></li>
                            <li><a href="/accessories">Blazers</a></li>
                            <li><a href="/accessories">Denim</a></li>
                            <li><a href="/accessories">Leggings/Pants</a></li>
                            <li><a href="/accessories">Skirts/Shorts</a></li>
                            <li><a href="/accessories">Accessories</a></li>
                            <li><a href="/accessories">Bags/Purses</a></li>
                            <li><a href="/accessories">Swimwear/Underwear</a></li>
                            <li><a href="/accessories">Nightwear</a></li>
                            <li><a href="/accessories">Shoes</a></li>
                            <li><a href="/accessories">Beauty</a></li>
                        </ul>
                        <section>
                            <ul>
                                <li class="nav-hover-header"><a href="/accessories">ACCESSORIES</a></li>
                                <li><a href="/accessories">Dresses</a></li>
                                <li><a href="/accessories">Tops</a></li>
                                <li><a href="/accessories">Sweaters/Knits</a></li>
                                <li><a href="/accessories">Jackets/Coats</a></li>
                                <li><a href="/accessories">Blazers</a></li>
                                <li><a href="/accessories">Denim</a></li>
                                <li><a href="/accessories">Leggings/Pants</a></li>
                            </ul>
                            <ul>
                                <li class="nav-hover-header"><a href="/accessories">ACCESSORIES</a></li>
                                <li><a href="/accessories">Dresses</a></li>
                                <li><a href="/accessories">Tops</a></li>
                                <li><a href="/accessories">Sweaters/Knits</a></li>
                                <li><a href="/accessories">Jackets/Coats</a></li>
                                <li><a href="/accessories">Blazers</a></li>
                                <li><a href="/accessories">Denim</a></li>
                            </ul>
                        </section>
                        <section class="nav-hover-last-div">
                            <ul>
                                <li class="nav-hover-header"><a href="/accessories">ACCESSORIES</a></li>
                                <li><a href="/accessories">Dresses</a></li>
                                <li><a href="/accessories">Tops</a></li>
                                <li><a href="/accessories">Sweaters/Knits</a></li>
                                <li><a href="/accessories">Jackets/Coats</a></li>
                                <li><a href="/accessories">Bags/Purses</a></li>
                                <li><a href="/accessories">Swimwear/Underwear</a></li>
                                <li><a href="/accessories">Nightwear</a></li>
                                <li><a href="/accessories">Shoes</a></li>
                                <li><a href="/accessories">Beauty</a></li>
                            </ul>
                            <img src="images/Layer 42.png" alt="photo">
                        </section>
                    </div>

                </section>
            </li>
            <li><a href="/featured">FEATURED</a>
            </li>
            <li><a href="/hot">HOT DEALS</a>
            </li>
        </ul>
    </nav>
{% endblock %}
