{% block subscribe %}
    <section class="subscribe">
        <div class="subscribe-mask"></div>
        <div class="container subscribe-content">
            <section>
                <img src="/images/Layer_40.png" alt="Face">
                <p>“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam
                    condimentum mattis neque sed pretium”</p>
                <h4>Bin Burhan <br><span>Dhaka, Bd</span></h4>
            </section>
            <section class="subscribe-email">
                <h3><span>Subscribe</span><br>FOR OUR NEWSLETTER AND PROMOTION</h3>
                <form action="#">
                    <input type="email" placeholder="Enter Your Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </section>
        </div>
    </section>
{% endblock %}
