* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* START INDEX PAGE */


.banner {
    background: #e8e8e8;
}

.banner-content {
    height: 615px;
    background: url(/images/Layer_24.png) #e8e8e8;
    position: relative;
}

.banner-content p {
    position: absolute;
    top: 225px;
    left: 30px;
    padding: 0 10px;
    border-left: 12px solid #f16d7f;
    color: #222222;
    font-family: sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 1.5px;
    line-height: 45px;
}

.banner-content span {
    letter-spacing: 1px;
    font-size: 40px;
    line-height: 30px;
}

.banner-content span:last-child {
    color: #f16d7f;
}

.sections {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 90px auto;
}

.sections div {
    width: 560px;
}

.section-column-one {
    margin-right: 10px;
}

.section-column-two {
    margin-left: 10px;
}

.sections a {
    display: block;
    margin: 10px 0;
    position: relative;
}

.sections .section-accos {
    height: 261px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background: #dadad2;
}

.sections p {
    position: absolute;
    top: 25px;
    left: 0;
    padding: 15px 20px;
    background: white;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 900;
    /* letter-spacing: 0.45px; */
    text-align: left;
    color: #222222;
}

.sections span {
    font-size: 24px;
    /* letter-spacing: 0.75px; */
    color: #f16d7f;
}

.featured-items-text h3 {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.75px;
    text-align: center;
    color: #222222;
}

.featured-items-text h5 {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    text-align: center;
    color: #9f9f9f;
}

.featured-items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.btn-all-product {
    width: 212px;
    height: 48px;
    background: #f16d7f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto 100px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 3px solid #dd5f70;
    border-radius: 3px;
}

.btn-all-product:hover {
    background: #dd5f70;
}

.btn-all-product:active {
    background: #ac4755;
    border: none;
}

/* END INDEX PAGE */
/* START ADD GOODS PAGE */


.add-product {
    margin: 30px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.add-product > form {
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    flex-flow: column nowrap;
}

.add-product > form > * {
    margin: 10px 0;
}


/* END ADD GOODS PAGE */
/* START CHANGE GOODS PAGE */


.change_product {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.change_product > div > form {
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    flex-flow: column nowrap;
}

.change_product > div > form > * {
    margin: 5px;
}


/* END CHANGE GOODS PAGE */
/* START PRODUCT ONE PAGE */


.product-name {
    margin: 25px auto 10px;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-decoration: none;
}

/*.product-img {*/
/*    flex-flow: row wrap;*/
/*}*/

/*.product-img > article {*/
/*    margin: 10px 0;*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/
/*    flex-flow: column wrap;*/
/*}*/

/*.product-img > article > img {*/
/*    width: 260px;*/
/*    height: 280px;*/
/*    object-fit: cover;*/
/*}*/

.product-desc {
    margin: 10px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.4px;
    text-decoration: none;
}

.product-desc > div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
}

.product-desc > div > h3 > span {
    font-weight: bold;
}


/* END PRODUCT ONE PAGE */
/* START AUTH PAGE */


.login {
    /*display: inline-flex;*/
    /*padding: 10px;*/
    /*align-items: center;*/
}

.regist {
    margin: 50px auto;
    flex-flow: column nowrap;
    color: #1b1b1b;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.4px;
    text-decoration: none;
}

.regist > * {
    margin-top: 20px;
}


/* END AUTH PAGE */
/* START BASKET PAGE */


.basket-item {
    height: 150px;
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    color: #1b1b1b;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.4px;
    text-decoration: none;
}

.basket-item .wrapper-img > img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.basket-header {
    margin: 20px auto;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #1b1b1b;
}

/* .basket-item>div{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
} */

.basket-item > .item-name {
    width: 400px;
    padding: 10px;
    text-align: center;
}

.basket-quantity {
    width: 70px;
    text-align: center;
}

.basket-item .item-price {
    display: block;
    width: 250px;
    text-align: center;
}

.total-price {
    margin: 30px 0 20px;
    color: #1b1b1b;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.4px;
    text-decoration: none;
}

.cart-total-value {
    margin-left: 7px;
}

.clear_basket {
    margin-bottom: 50px;
}

.order_btn {
    width: 250px;
    height: 70px;
    font-size: 20px;
}


/* END BASKET PAGE */
/* START DELETE ACCOUNT PAGE */


.delete-account-warning{
    margin: 50px auto 0;
    text-align: center;
    color: #1b1b1b;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-decoration: none;
}

/* END DELETE ACCOUNT PAGE */
