{% extends "base.tmpl" %}

{% block content %}
    {% if (goods is not empty) and (goods.error is empty) %}
        <h3 class="product-name flex-center wrapper">{{ goods.name|raw }}</h3>

        <section class='wrapper product-img flex-center'>
            {% if goods.img is empty %}
                <article>
                    <img src='images/not_image.png' alt='Featured item'>
                </article>
            {% else %}
                {% for img in goods.img %}
                    <article>
                        <img src="{{ UPLOAD_DIR~img.name }}" alt="Item">
                        {% if user.id_access == 1 %}
                            <form action="?id_product={{ goods.id_product }}" method="POST">
                                <button type="submit" class="delete-btn" value="{{ img.id_image }}" name="delete_img">
                                    Удалить
                                </button>
                                <button type="submit" class="delete-btn" value="{{ img.id_image }}"
                                        name="set_main_img">Сделать основной
                                </button>
                            </form>
                        {% endif %}
                    </article>
                {% endfor %}
            {% endif %}
        </section>

        <section class="wrapper product-desc">
            <div>
                <h3>Цена: <span>{{ goods.price }}</span></h3>
                <h3>Просмотров: <span>{{ ++goods.viewed }}</span></h3>
                <h3>Like: <span class="btn_like_value">{{ goods.liked }}</span>
                    {% if user is not empty %}
                        <button class="btn_like delete-btn" data-id_product={{ goods.id_product }}>Like</button>
                    {% endif %}
                </h3>
                <h3>Артикль: <span>{{ goods.id_product }}</span></h3>
                <h3>Тип: <span>{{ goods.type }}</span></h3>
                {% if goods.gender is not empty %}
                    <h3>Пол: <span>{{ goods.gender }}</span></h3>
                {% endif %}
                <h3>Бренд: <span>{{ goods.brand }}</span></h3>
                <br>
                <div>
                    <button class="btn add_in_basket" data-id_product={{ goods.id_product }}>Добавить в корзину</button>
                </div>
            </div>
        </section>

        {% include "product/update_goods.tmpl" %}
        {% include "comment/comments.tmpl" %}

    {% else %}
        <section class="wrapper error">
            <h3 class='flex-center'>{{ goods.error }}</h3>
        </section>
    {% endif %}
{% endblock %}
