{% block updateGoods %}
    {% if (user.id_access == 1) and (goods is not empty) and (goods.error is empty) %}
        <section class="change_product container">
            <div>
                <form action="" method="POST" enctype="multipart/form-data">
                    <input type="text" name="name" class="input" placeholder="Name product" value="{{ goods.name }}">

                    <select name="id_type" class="select">
                        <option value="">{{ goods.category| raw }}</option>
                        {% for character in goods_characters.categories %}
                            <option value="{{ character.id_category }}">{{ character.name| raw }}</option>
                        {% endfor %}
                    </select>

                    <select name="id_gender" class="select">
                        {% if goods.gender is not empty %}
                            <option value=''>{{ goods.gender| raw }}</option>";
                        {% endif %}
                        <option value=-1>Gender</option>
                        {% for character in goods_characters.genders %}
                            <option value="{{ character.id_gender }}">{{ character.name| raw }}</option>
                        {% endfor %}
                    </select>

                    <select name="id_brand" class="select">
                        <option value="">{{ goods.brand| raw }}</option>
                        {% for character in goods_characters.brands %}
                            <option value="{{ character.id_brand }}">{{ character.name| raw }}</option>
                        {% endfor %}
                    </select>

                    <div class="input_file_wrapper">
                        <input type="hidden" name="MAX_FILE_SIZE" value="2000000">
                        <input name="img[]" type="file" id="input_file" class="field input_file" multiple>

                        <label class="input_file_label_wrapper" for="input_file">
                            <div class="input_file_empty">File not selected</div>
                            <div class="input_file_dtn">Choose</div>
                        </label>
                    </div>

                    <input type="number" name="price" class="input" value="{{ goods.price }}" min=1>
                    <input type="submit" name="update_goods" class="btn" value="Change">
                </form>
                <form action="" method="POST">
                    <button type="submit" name="delete_goods" class="btn" value="delete">Delete</button>
                </form>
            </div>
        </section>
    {% endif %}
{% endblock %}