{% extends "base.tmpl" %}

{% block content %}
    <h2 class="basket-header container">CART</h2>
    <section class="container basket-items">
        {% if basket is not empty %}
            {% for goods in basket %}
                <article class="basket-item" data-id_product={{ goods.id_product }}>
                    <a href="/product/{{ goods.id_product }}" class="wrapper-img">
                        <img src="{{ goods.image_name }}"
                             alt="item">
                    </a>
                    <a href="/product/{{ goods.id_product }}" class="item-name">{{ goods.name|raw }}</a>
                    <input type="number" class="basket-quantity input" value="{{ goods.quantity }}" min=0>
                    <div>
                        <span class="item-price"
                              data-price="{{ goods.price }}">{{ goods.price }}$ x {{ goods.quantity }} = {{ goods.price * goods.quantity }}$</span>
                    </div>
                    <button class="btn delete_in_basket">Delete</button>
                </article>
            {% endfor %}
            <p class="total-price flex-center"> Total: <span class="cart-total-value"></span>$</p>
            <div class="flex-center">
                <a href="/order" class="btn-all-product">Checkout</a>
            </div>
{#            <div class="flex-center">#}
{#                <button class="clear_basket delete-btn">Clear cart#}
{#                </button>#}
{#            </div>#}
        {% endif %}
    </section>
{% endblock %}