{% extends "base.tmpl" %}

{% block content %}
    <form action='' method='POST' class='container flex-center regist'>
        <input type="text" name='login' class="input" placeholder='Login' required>
        <input type="password" name='password' class="input" placeholder='Password' required>
        <div>
            <button type="submit" name='enter' class="btn">Sign in</button>
            <a href='/account/registration' class='btn'>Sign up</a>
        </div>
    </form>
{% endblock %}